In [1]:
'vijaya'

'vijaya'

In [2]:
"janu"

'janu'

In [3]:
'vijju'
print("janu")

janu

In [4]:
"suni"
print('rajani')

rajani

In [5]:
1234

1234

In [7]:
print('pyhton')
print('training')

pyhton
training

In [8]:
x=10
print(x)
print(type(x))

10
<class 'int'>

In [9]:
a='ram'
print(a)
print(type(a))

ram
<class 'str'>

In [10]:
x

10

In [13]:
p=22.22
print(p)

22.22

# Type Conversion

In [9]:
a=10
type(a)
s1='janu'
type(s1)
h1=3.14
type(h1)
float(str(int(h1)))

3.0

In [14]:

n2= 10
n3= n2 ** 12
print(type(n3))
print(len(str(n3)))
word=10**75
print(len(str(word)))
print(type(str(word)))

<class 'int'>
13
76
<class 'str'>

In [1]:
number=2
num="String"
number=str(num)
print(type(number))

<class 'str'>

In [1]:
number=2
num="VIJAYA"
number=str(num)
print(type(number))

<class 'str'>

## DATA TYPES

In [27]:
s=10
a="jahnavi"
d=3.14
type(a)
type(s)
type(d)
print(type(s))
print(type(a))
print(type(d))

<class 'int'>
<class 'str'>
<class 'float'>

## TASK

<class int>int <class str>str<class float>float

In [30]:
# platform,sys--libraries
import platform
print (platform.python_version())
print (platform.sys.version)

3.7.3
3.7.3 (default, Apr 24 2019, 15:29:51) [MSC v.1915 64 bit (AMD64)]

In [31]:
import sys
print(sys.version)

3.7.3 (default, Apr 24 2019, 15:29:51) [MSC v.1915 64 bit (AMD64)]

In [33]:
#print("py")
'''print(123)
print(456)'''
print(s)

10

In [34]:
print(1,2,3,sep="abc")
print('hello')

1abc2abc3
hello

In [35]:
print(1,2,3,sep="abc",end=' ')
print('hello')

1abc2abc3 hello

In [36]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [37]:
#creating different types of values with different values
i=10
print(i,type(i))
j='janu'
print(j,type(j))
k=3.21
print(k,type(k))

10 <class 'int'>
janu <class 'str'>
3.21 <class 'float'>

# Boolean Variables

In [39]:
print(True)

True

In [41]:
print(bool(1))
print(bool(0))

True
False

In [42]:
print(True+True)
print(True+False)
print(False+True)
print(False+False)

2
1
1
0

In [46]:
print(3*'\nhello')
print(3*' hello')
print('hello '*3)

hello
hello
hello
 hello hello hello
hello hello hello

In [47]:
print(3//2)
print(3.0//2)
print(3//2.0)

1
1.0
1.0

In [49]:
a=int(22.22)
b=float(12)
c=str(13)
print(a)
print(b)
print(c)

22
12.0
13

In [50]:
bool('hello')

True

In [51]:
bool('')

False

## Operators

In [52]:
print(3+2)
print(4-2)
print(3*2)
print(3//2)
print(3/2)
print(3%2)

5
2
6
1
1.5
1

In [54]:
a=10
b=2
print(a+b)

12

In [56]:
a='vijaya'
b='janu'
print(a+b)
#print(a-b)
#print(a*b)
#print(a/b)

vijayajanu

## Task on operators

In [ ]:
#oranges=3 price for each one=6
#apples=9 price for each one=10
#print total mulitples of 10

In [65]:
print(int((6*3+9*10)/10))

10

## Strings

In [66]:
print('vijju')

vijju

In [69]:
print('vijaya \njanu')

vijaya
janu

In [70]:
a='rajani'
print(a)

rajani

In [79]:
b='hello world'
print(b)
print(b[0:5])
print(b[0::])
print(b[0::2])
print(b[0::3])
print(b[::-1])

hello world
hello
hello world
hlowrd
hlwl
dlrow olleh

In [82]:
c='python vs java'
c.capitalize()

'Python vs java'

In [83]:
c.lower()

'python vs java'

In [84]:
c.upper()

'PYTHON VS JAVA'

In [87]:
b.swapcase()

'HELLO WORLD'

In [88]:
b.title()

'Hello World'

In [89]:
len(b)

11

In [90]:
dir(b)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [96]:
d='i am python'
d.center(5)

'i am python'

In [97]:
d.split()

['i', 'am', 'python']

In [101]:
d.count('n')

1

In [102]:
### assignment remaning functions

In [119]:
d.endswith('s')

False

In [103]:
d.replace('p','t')

'i am tython'

In [126]:
d.expandtabs(2)

'i am python'

In [121]:
d.encode()

b'i am python'

In [129]:
d.find('python')

5

In [132]:
d.format()

'i am python'

In [136]:
d.format_map(6)

'i am python'

In [141]:
d.index('am')

2

In [152]:
d.join('sai')

'si am pythonai am pythoni'

In [155]:
d.ljust(6)

'i am python'

In [156]:
d.strip()

'i am python'

In [116]:
d.rsplit( )

['i', 'am', 'python']

## TASK

In [115]:
#find the length of string
a='python programming by python platforms'
print(len(a))
#change the string to lowercase
print(a.upper())
print(a.lower())
#print the string in reverse order
print(a[::-1])
#split the string
print(a.split())
#find howmany times "s" is repeated in a given string
print(a.count('s'))
#print the string without spaces
print(a.replace(' ',''))

38
PYTHON PROGRAMMING BY PYTHON PLATFORMS
python programming by python platforms
smroftalp nohtyp yb gnimmargorp nohtyp
['python', 'programming', 'by', 'python', 'platforms']
1
pythonprogrammingbypythonplatforms

In [2]:
# read input from keybord
a=input("enter a number")
print(a)
print(type(a))
b=int(input("enter a number"))
print(b)
print(type(b))

enter a number1
1
<class 'str'>
enter a number2
2
<class 'int'>

In [1]:
# readd 2 numbers from keyboard and print their sum
c=int(input('enter number'))
d=int(input('enter number'))
print(c+d)

enter number1
enter number2
3

In [4]:
# read an integer value a string.repeat the string integer number of times
#ex:3,hello
s=int(input('enter number'))
g=input('enter number')
print(s* g)

enter number2
enter numberhi
hihi

In [7]:
# read both first name and last name from keyboard.print output
#first name last name :vijaya battula
#last name first name:battula vijaya
o=input('enter first number')
p=input('enter last number')
print(o+' '+p)
print(p+' '+o)
print(p+o)
print(o+p)

enter first numbervijaya
enter last numberbattula
vijaya battula
battula vijaya
battulavijaya
vijayabattula