## Conditional statements

#### 1.If statement

In [2]:
marks = int(input('enter marks:'))
passing=50
distinction=90

enter marks:25

In [6]:
if marks >= distinction:
    print('excellent')
if marks >= passing and marks< distinction:
    print('your pass')
if marks < passing:
    print('not good')

not good

In [7]:
statement='the coffe is bad'
if 'bad' in statement:
    print('bad review')

bad review

In [8]:
statement='the coffe is good'
if 'bad' in statement:
    print('good review')

In [9]:
'z' in 'hello'

False

#### 2.If elsse statement

In [12]:
if None:
    print('True')
else:
    print('False')

False

In [13]:
n=int(input('enter a number'))
if n%2 == 0:
    print('even')
else:
    print('odd')

enter a number4
even

In [14]:
### task
#### a number is even find it should be chek divisible 4  or not else it is odd find it should be check divisible by 3 or not

In [21]:
n=int(input('enter a number'))
if n%2 == 0:
    print('even')
    if n%4==0:
        print('number is divisible by 4')
    else:
        print('not divisible by 4')
    
else:
    print('odd')
    if (n%3==0):
        print('number is divisible by 3')
    else:
        print('not divisible by 3')

enter a number45
odd
number is divisible by 3

In [25]:
### check if a year is leap
y=int(input('enter a number'))
if y%400==0 or (y%4==0 and y%100!=0):
    print('year leap')
else:
    print('not leap')

enter a number2012
year leap

In [44]:
### check if a number exists in given range(inclusive)
n1=int(input('enter a number'))
lb=int(input('enter a number'))
ub=int(input('enter a number'))
if(n1>=lb and n1<=ub):
    print('yes')
else:
    print('no')

enter a number91
enter a number35
enter a number100
yes

In [36]:
### check if a number is multiple of 10
s=int(input('enter a number'))
if s%10==0:
    print('yes')
else:
    print('no')

enter a number123
no

In [47]:
### check if a nuber is factor of 100
k=int(input('enter a number'))
if 100%k==0:
    print('factor')
else:
    print('no')

enter a number4
factor

In [46]:
### check if a string is equal to a number
n=int(input('enter a number'))
s=input('enter a number')
if s==str(n):
    print('yes')
else:
    print('no')

enter a number12345
enter a numberhello
no

In [51]:
### calculate the number of nano seconds in a year(leap year logic)
y1=int(input('enter a number'))
if y1%400==0 or (y1%4==0 and y1%100!=0):
    print(366 * 24 * 60 * 60 * (10**9))
else:
    print(365 * 24 * 60 * 60 *(10**9))

enter a number2345
31536000000000000

In [53]:
### find the greatest of 3 numbers
a=int(input('enter a number'))
b=int(input('enter a number'))
c=int(input('enter a number'))
if (a>b>c):
    print('a is greatest')
elif(b>a>c):
    print('b is greatest')
else:
    print('c is greatest')

enter a number3
enter a number4
enter a number1
b is greatest

In [56]:
marks = int(input('enter marks:'))
if marks< 50:
    print('fail')
elif marks>60 and marks<70:
    print('d grade')
elif marks>70 and marks<80:
    print('c grade')
elif marks>80 and marks<90:
    print('b grade')
elif marks>90 and marks<100:
    print('a grade')
else:
    print('distinction')

enter marks:100
distinction

### 4.Nested If

In [62]:
#take an input from keyboard
#check the number is positive or negative or zero display
s = int(input('enter number:'))
if s>=0:
    if(s==0):
        print('number is zer0')
    else:
        print('number is positive')
else:
    print('negative number')

enter number:-3
negative number

In [4]:
### tasks:
# 1.Calculate the square root of a given number 
a=int(input('enter number'))
print(a**0.5)
#2.Check the number of digits in a given number
p=int(input('enter number'))
if p>0:
    print(len(str(p)))
#3.Check the given year is a Leap year or not 
y=int(input('enter a number'))
if y%400==0 or (y%4==0 and y%100!=0):
    print('year leap')
else:
    print('not leap')
#4.check if a nuber is factor of 1000
k=int(input('enter a number'))
if 1000%k==0:
    print('factor')
else:
    print('no')
#5.Check if the number exist in a given range (inputs: number(n), range(lower number and upper number) 
n1=int(input('enter a number'))
lb=int(input('enter a number'))
ub=int(input('enter a number'))
if(n1>=lb and n1<=ub):
    print('yes')
else:
    print('no')

enter number4
2.0
enter number12345
5
enter a number2020
year leap
enter a number24
no
enter a number23
enter a number1
enter a number89
yes

### Iterations/loop

In [2]:
range(5) # 0,1,2,3,4,5
range(1,5)#1,2,3,4

range(1, 5)

### 1.for loop

In [3]:
for i in range(5):
    print(i)

0
1
2
3
4

In [5]:
s1='hello'
for i in s1:
    print(i)

h
e
l
l
o

In [6]:
#print hello in single line separate by ,
for i in s1:
    print(i,end=',')

h,e,l,l,o,

In [7]:
for i in s1:
    print(i,sep=',')

h
e
l
l
o

In [8]:
s2='v,i,j,a,y,a'
for i in s2:
    print(i,end=',')

v,,,i,,,j,,,a,,,y,,,a,

In [9]:
print(1,2,sep=',')
print(1,2)

1,2
1 2

In [11]:
for i in  range(1,11):
    if i%2==0:
        print(i,end=' ')

2 4 6 8 10

In [12]:
for i in range(1,11,2):
    print(i,end=' ')

1 3 5 7 9

In [13]:
for i in range(7,1000,7):
    print(i,end=' ')

7 14 21 28 35 42 49 56 63 70 77 84 91 98 105 112 119 126 133 140 147 154 161 168 175 182 189 196 203 210 217 224 231 238 245 252 259 266 273 280 287 294 301 308 315 322 329 336 343 350 357 364 371 378 385 392 399 406 413 420 427 434 441 448 455 462 469 476 483 490 497 504 511 518 525 532 539 546 553 560 567 574 581 588 595 602 609 616 623 630 637 644 651 658 665 672 679 686 693 700 707 714 721 728 735 742 749 756 763 770 777 784 791 798 805 812 819 826 833 840 847 854 861 868 875 882 889 896 903 910 917 924 931 938 945 952 959 966 973 980 987 994

In [14]:
for i in range(7,1000,7):
    if(i%2==0):
        print(i,end=' ')

14 28 42 56 70 84 98 112 126 140 154 168 182 196 210 224 238 252 266 280 294 308 322 336 350 364 378 392 406 420 434 448 462 476 490 504 518 532 546 560 574 588 602 616 630 644 658 672 686 700 714 728 742 756 770 784 798 812 826 840 854 868 882 896 910 924 938 952 966 980 994

In [15]:
for i in range(994,6,-7):
    if(i%2==0):
        print(i,end=' ')

994 980 966 952 938 924 910 896 882 868 854 840 826 812 798 784 770 756 742 728 714 700 686 672 658 644 630 616 602 588 574 560 546 532 518 504 490 476 462 448 434 420 406 392 378 364 350 336 322 308 294 280 266 252 238 224 210 196 182 168 154 140 126 112 98 84 70 56 42 28 14

In [16]:
for i in range(50,100,2):
    print(i,end=' ')

50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98

In [17]:
for i in range(98,49,-2):
    print(i,end=' ')

98 96 94 92 90 88 86 84 82 80 78 76 74 72 70 68 66 64 62 60 58 56 54 52 50

### 2.while loop

In [18]:
i=1
while i<=10:
    print(i,end=' ')
    i=i+1

1 2 3 4 5 6 7 8 9 10

In [2]:
i=1
while i<=100:
    if(i%3==0):
        print(i,end=' ')
    i=i+1

3 6 9 12 15 18 21 24 27 30 33 36 39 42 45 48 51 54 57 60 63 66 69 72 75 78 81 84 87 90 93 96 99

In [3]:
i=99
while i>=3:
    if(i%3==0):
        print(i,end=' ')
    i=i-1

99 96 93 90 87 84 81 78 75 72 69 66 63 60 57 54 51 48 45 42 39 36 33 30 27 24 21 18 15 12 9 6 3

In [1]:
s='vijaya'
i=0
while (i<len(s)):
    print(s[i])
    i=i+1

v
i
j
a
y
a

In [3]:
#Function to print N natural numbers by using for loop
def natural():
    n=int (input('enter a number'))
    for i in range(1,n+1):
        print(i,end=' ')
natural()

enter a number10
1 2 3 4 5 6 7 8 9 10

In [4]:
#Function to print N natural numbers by using while loop
def natural():
    n=int (input('enter a number'))
    i=1
    while i<=n:
        print(i,end=' ')
        i=i+1
natural()

enter a number10
1 2 3 4 5 6 7 8 9 10

In [8]:
# function to print the alternative value in range in the same line
#range(500,550)-->500,501,--549
#start with inclusive and end with exclusive
def alternate():
    for i in range(500,550,2):
        print(i,end=' ')
alternate()

500 502 504 506 508 510 512 514 516 518 520 522 524 526 528 530 532 534 536 538 540 542 544 546 548

In [19]:
#functio to print reverse of given range in the same line
def alternate():
    for i in range(550,499,-2):
        print(i,end=' ')
alternate()

550 548 546 544 542 540 538 536 534 532 530 528 526 524 522 520 518 516 514 512 510 508 506 504 502 500

In [26]:
#function to print the odd numbers in reverse order
def oddreverse():
    for i in range(100,1,-1):
        if(i%2!=0):
            print(i,end=' ')
oddreverse()

99 97 95 93 91 89 87 85 83 81 79 77 75 73 71 69 67 65 63 61 59 57 55 53 51 49 47 45 43 41 39 37 35 33 31 29 27 25 23 21 19 17 15 13 11 9 7 5 3

In [15]:
#function to calculate the average of given range
#(1,5)->3
def average():
    sum=0
    count=0
    for i in range(1,6):
        count+=1
        sum+=i
    print(sum//count)
average()

3

In [13]:
#function to calculate the average of given timeperiod
#[2000,2020]->2000 2004 2008

In [ ]:
#calculate number of days in agiven timeperiod using leapyear logic
#for every year in the given timeperiod,if the year is not leap year->add 365 to sum.if leapyear addd 366