## Datastructures

### 1.list

In [1]:
li=[]
type(li)

list

In [2]:
li #access the entire list

[]

In [3]:
li=[1,3,2,5,6]

In [4]:
li[1] #index of list start from 0

3

In [5]:
li[1:]

[3, 2, 5, 6]

In [6]:
li[0:]

[1, 3, 2, 5, 6]

In [7]:
li[1:3]

[3, 2]

In [9]:
li[::-1]

[6, 5, 2, 3, 1]

In [10]:
li

[1, 3, 2, 5, 6]

In [11]:
li[::2]

[1, 2, 6]

In [14]:
li[1::2]

[3, 5]

In [15]:
name='janu'
m=[]
print(type(name),type(m))

<class 'str'> <class 'list'>

In [16]:
m=list()
type(m)

list

In [18]:
names=['vijaya','janu']
type(names)

list

In [19]:
len(names)

2

In [21]:
names[0]

'vijaya'

### list methods

#### Append
- To add new item in the available list

In [22]:
names[0]

'vijaya'

In [23]:
names

['vijaya', 'janu']

In [24]:
names.append('suni')

In [25]:
names

['vijaya', 'janu', 'suni']

In [26]:
n=['banti','kala','bhu bhu']

In [27]:
names.append(n)

In [28]:
names

['vijaya', 'janu', 'suni', ['banti', 'kala', 'bhu bhu']]

In [29]:
len(names)

4

### extend method

In [30]:
names.extend(n)

In [31]:
names

['vijaya',
 'janu',
 'suni',
 ['banti', 'kala', 'bhu bhu'],
 'banti',
 'kala',
 'bhu bhu']

In [32]:
a=['hi','hello','welcome']
b=['adab','namaste']

In [33]:
a.extend(b)

In [34]:
a

['hi', 'hello', 'welcome', 'adab', 'namaste']

In [35]:
len(a)

5

### copy()
- to take new backup of available list

In [36]:
c=[1,2,3,4,5]

In [37]:
d=c.copy()

In [38]:
d

[1, 2, 3, 4, 5]

In [39]:
c

[1, 2, 3, 4, 5]

In [40]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [41]:
girls=['vijaya','rekha']

In [42]:
girls

['vijaya', 'rekha']

In [43]:
girls[0]='jaya'

In [44]:
girls

['jaya', 'rekha']

### clear()
#### to remove all items in list

In [45]:
girls.clear()

In [46]:
girls

[]

### count()
- it can search for given item and return the number of occerance in a list

In [50]:
a

['hi', 'hello', 'welcome', 'adab', 'namaste']

In [51]:
a.append('hi')

In [52]:
a

['hi', 'hello', 'welcome', 'adab', 'namaste', 'hi']

In [53]:
a.count('hi')

2

In [54]:
d

[1, 2, 3, 4, 5]

In [55]:
d.append([1,2,3])

In [56]:
d

[1, 2, 3, 4, 5, [1, 2, 3]]

In [57]:
d.count(1)

1

### Index

* return index of first occurance of the item in list if available otherwise value shows error

In [58]:
d.index(5)

4

In [61]:
c

[1, 2, 3, 4, 5]

In [62]:
c.index(2,1)

1

In [63]:
x=[1,2,3,4,2,3,1,5,6,2,3]

In [64]:
x.index(3,3)

5

### Insert
- If given index available it can add item at given index otherwisse it adds last index

In [68]:
x.insert(2,7)

In [69]:
x

[1, 2, 7, 7, 3, 4, 2, 3, 1, 5, 6, 2, 3]

In [70]:
d.insert(1,1)

In [72]:
d

[1, 1, 2, 3, 4, 5, [1, 2, 3]]

In [82]:
d.insert(20,2)

In [83]:
d

[1, 1, 2, 3, 4, 5, [1, 2, 3], 2, 2, 2]

In [80]:
n1=[10,20,30,40]
n1.insert(100,50)

In [81]:
n1

[10, 20, 30, 40, 50]

#### pop()
- removes  the elements at the specific position

In [84]:
g=['python','raptor','c','c++','java']
g.pop(1)

'raptor'

In [85]:
g

['python', 'c', 'c++', 'java']

In [86]:
g.pop()

'java'

In [87]:
g

['python', 'c', 'c++']

### Remove()
- removes specific item

In [88]:
ab=['basic','pascal','fortran','javascript']

In [89]:
ab.remove('pascal')

In [90]:
ab

['basic', 'fortran', 'javascript']

In [91]:
a

['hi', 'hello', 'welcome', 'adab', 'namaste', 'hi']

In [92]:
a.remove('hi')

In [93]:
a

['hello', 'welcome', 'adab', 'namaste', 'hi']

### Reverse()
- reverse specific item

In [94]:
l=['ruby','r','php','jupyter']

In [95]:
l.reverse()

In [96]:
l

['jupyter', 'php', 'r', 'ruby']

### sort()
- sort the list alfabetically

In [97]:
l.sort()

In [98]:
l

['jupyter', 'php', 'r', 'ruby']

In [99]:
l.sort(reverse=True)
l

['ruby', 'r', 'php', 'jupyter']

In [101]:
# task:
# given list all electronic items[mobile,laptop,speakers].if you find any item which is 
# not relates to electronics then remove it using slicing method

In [102]:
# fn to identify the seccong largest element in unique list
 # sort the data and select the second last element
    #sort the data in reverse order and select the second element

In [103]:
l=[1,2,3,4,5]

In [105]:
def sl(l):
    l.sort()
    return l[-2]
sl(l)

4

In [106]:
# fn remove the max element and then get the maxx of new list
def sl(l):
    l.sort()
    return l[-2]
# fn that return nth largest
def la(l,n):
    l.sort()
    return l[-n]
la(l,5)

1

In [107]:
a='1 2 3 4 5 6'
b=a.split()
c=[]
for i in b:
    c.append(int(i))
c

[1, 2, 3, 4, 5, 6]