### Tuples

- collection of elements which is ordered and unchangeble

In [1]:
t=(1,2,3)
print(t)
type(t)

(1, 2, 3)

tuple

In [2]:
for i in t:
    print(i)

1
2
3

In [4]:
t[0:3:2]

(1, 3)

In [5]:
f_t=('hi',89,'ki',90)
print(f_t)

('hi', 89, 'ki', 90)

In [6]:
print(f_t[0])

hi

In [8]:
print(len(f_t))

4

In [9]:
t.count(1)

1

In [10]:
t.count(10)

0

In [11]:
a=('delhi',12,'hyd','chennai')

In [12]:
b=a[:-1]

In [13]:
print(b)

('delhi', 12, 'hyd')

In [14]:
print(len(b))

3

In [16]:
c=list(b)
print('c is:{0}'.format(c))
c=tuple(c)
print(c)

c is:['delhi', 12, 'hyd']
('delhi', 12, 'hyd')

In [18]:
x=(1,2,3,4,5,6,7)
y=list(x)
y[1]='vijaya'
x=tuple(y)
print(x)

(1, 'vijaya', 3, 4, 5, 6, 7)

In [19]:
a=('a','b','c','d')
b=(1,2,3,4)
c=a+b
print(c)

('a', 'b', 'c', 'd', 1, 2, 3, 4)

In [24]:
#program to convert given tuple into string
t=('a','b')
d=''.join(t)
print(d)

ab

In [25]:
type(d)

str

### Sets

In [28]:
S={1,2,3,4}
S

{1, 2, 3, 4}

In [29]:
s={1,2,3,4,1}
s

{1, 2, 3, 4}

In [30]:
s[0]

TypeError: 'set' object is not subscriptable

In [31]:
n={'sd','df','aw'}
for i in n:
    print(i)

df
aw
sd

In [32]:
print('sd' in n)

True

### add method
- add()

In [33]:
n.add('ask')
n

{'ask', 'aw', 'df', 'sd'}

### update()

In [34]:
n.update(['def','dfg'])
n

{'ask', 'aw', 'def', 'df', 'dfg', 'sd'}

In [36]:
print(len(n))

6

### remove()

In [37]:
n.remove('ask')

In [38]:
print(n)

{'def', 'aw', 'df', 'dfg', 'sd'}

### discard()

In [39]:
n.discard('sd')

In [40]:
n

{'aw', 'def', 'df', 'dfg'}

### delete()

In [41]:
s={1,2,3}
del s

In [43]:
print(s)

NameError: name 's' is not defined

In [44]:
s1={1,2,3,4}
s2={4,5,6}
s3=s1.union(s2)
print(s3)

{1, 2, 3, 4, 5, 6}

In [45]:
s1.intersection(s2)

{4}

In [47]:
s2.difference(s1)

{5, 6}

In [48]:
s1.difference_update(s2)

In [49]:
s1

{1, 2, 3}

In [58]:
s1={1,2,3}
s2={1,2,3,4,5,6}
s2.issubset(s1)

False

In [59]:
s1.issubset(s2)

True

In [54]:
help(s1.symmetric_difference)

Help on built-in function symmetric_difference:

symmetric_difference(...) method of builtins.set instance
    Return the symmetric difference of two sets as a new set.

    (i.e. all elements that are in exactly one of the sets.)

In [55]:
s1

{1, 2, 3}

In [56]:
s2

(1, 2, 3, 4, 5, 6)

In [60]:
s1.symmetric_difference(s2)

{4, 5, 6}

### packages and modules
- package- collection of modules
- module-a single python file containg function package->subpackages->modues->functions

#### module

In [62]:
def hari(name):
    print('hello'+name)

In [63]:
import firstmodule as mod

ModuleNotFoundError: No module named 'firstmodule'

### packages

In [64]:
from math import floor as f1
f1(2343.322344)

2343

In [66]:
import random
def rand(n,lb,ub):
    for i in range(0,n):
        print(random.randint(lb,ub),end=' ')
rand(10,1,100)

34 29 54 64 76 45 91 56 84 84

In [69]:
from math import sqrt
sqrt(4)

2.0